.sidepanel {
  position: fixed;
  top: 230px;
  left: 50px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  &__link {
    transform: rotate(-90deg);
    img {
      width: 23px;
      height: 23px;
      @include social_hover;
    }
  }
  &__divider {
    width: 1px;
    height: 70px;
    background-color: #000;
  }
  &__text {
    width: 25px;
    height: 150px;
    span {
      display: block;
      width: 150px;
      transform: rotate(-90deg) translate(-30%, -260%);
    }
  }
}
