@mixin section_padding_top($value: $section-pt) {
  padding-top: $value;
}

@mixin before_circle {
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -25%;
    left: 0;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: $main-color;
  }
}

@mixin social_hover($rotate: 90deg, $enable_hover: true) {
  transition: transform 0.8s;
  &:hover {
    transform: rotate($rotate) scale(1.3);
    @if not $enable_hover {
      transform: none;
    }
  }
}
